.container{
    height: 100%;

    .note-editor{
        position: relative;
        height: 100%;;
    }

    .note-editor-menu{
        position: relative;
    }

    .note-editor-content{
        position: relative;
    }
}